.BaadMainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../images/BaadBG.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color: antiquewhite;
}

.BaadMain2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.BaadTitle {
    display: flex;
    font-family: 'Titan One';
    font-size: 3.5em;
    text-align: center;
    color: rgb(0, 0, 0);
}

.family {
    width: 200px;
    height: 200px;
}

.EddGIF {
    width: 300px;
    height: 300px;
}

.Discord0 {
    width: 30%;
    height: 30%;
}

.BaadLogo3 {
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 500px) {
    .BaadMain2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        align-items: baseline;
        justify-content: center;
        position: relative;
        background-image: none;
        object-fit: contain;
        height: 100vh;
        color: antiquewhite;
    }
  }
