.BulkMain {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.BulkTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
}

.BulkContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.refreshIcon {
    max-width: 30px;
}
.refresh {
    margin-bottom: 20px !important;
}
.BulkNfts {
    padding-left: 20px;
    
}

.nftsgrid {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 100% !important;
    
    padding-top: 20px;
    background-color: black;
    border-radius: 20px;
}

.BulkImages {
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
    width: fit-content;
    position: relative;
}

.BulkImages:hover {
    cursor: pointer;
    opacity: 70%;
}

.clicked {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    pointer-events: none;
}

.BulkPurchase {
    margin-left: 20px;
    margin-top: 75px;
    margin-right: 20px;
    min-width: 400px;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 20px !important;
    color: white !important;
    background-color: black !important;
}

.toWallet {
    width: 80%;
    background-color: rgba(252, 248, 248, 0.411) !important;
    border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.nfttitles {
    font-family: 'Fredoka One', cursive;
    font-size: .5em;
}

@media screen and (max-width: 755px) {
    .BulkMain {
        display: block;
    }

    .BulkTitle {
        font-size: 2.5em;
    }

    .BulkContainer {
        display: flex;
        flex-direction: column;
    }

    .selectNfts {
        font-size: 1.2em;
        text-align: center;
        margin-left: 0;
    }

    .nftsgrid {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .BulkPurchase {
        margin-left: auto;
        margin-right: auto;
        min-width: 360px;
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .toWallet {
        width: 90%;
    }

}

@media screen and (max-width: 500px) {

    .Send {
        width: 300px;
    }

    .amountInput {
        width: 200px;
    }

    .carotGif {

        display: block;
    }
}