.k24MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: first baseline;
    position: relative;
    background-image: url('../images/kbg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 115vh;
    color: antiquewhite;
}

.k24Main2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.k24Main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.k24Title {
    display: flex;
    font-family: 'Rockwell', cursive;
    font-size: 3em;
    text-align: center;
    color:  rgb(214, 181, 12);
}

.DiscordGray {
    width: 50%;
    height: 50%;
}

.GhostBunny {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 500px) {
    .k24Main2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        align-items: baseline;
        justify-content: center;
        position: relative;
        background-image: none;
        object-fit: contain;
        height: 100vh;
        color: antiquewhite;
    }
  }