.CleanerMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}
.CleanerTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;

}
.CleanerDescription {
    margin-top: -40px;
}
.CleanerContainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: flex-start;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    position: relative;
    width: fit-content;
}
.Tabs {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    width: 150px;
    padding: 0;
    margin-top: -10px;

}
.NFTS {
    border-radius: 6px !important;
    width: 50%;
}
.Tokens {
    border-radius: 6px !important;
}
.NFTSClicked {
    border-top-left-radius: 10px !important;
    background-color: white !important;
    width: 50%;
    margin-left: -10px !important;

}
.TokensClicked {
    border-top-right-radius: 10px !important;
    background-color: white !important;
    width: 50%;
    margin-right: -10px !important;
}
.mappedNFTS {
    color: rgb(0, 0, 0);
    margin-top: 68px;
}
.nftImage {
    max-width: 150px;
    position: relative;
}
.nftImage:hover {
    opacity: 40%;
    cursor: pointer;
}
.eachNFT {
    position: relative;
    width: fit-content;
}
.eachNFTClicked {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black !important;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    pointer-events: none;
    z-index: 10;
}
.eachToken {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(248, 155, 79);
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px black;
    color: white;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.eachToken:hover {
    opacity: 60%;
    cursor: pointer;
}
.mappedTokens {
    margin-right: 10px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.warning {
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.eachTokenClicked {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black !important;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    pointer-events: none;
    border-radius: 20px !important;
    z-index: 10
}
.tokenNames {
    text-align: left;
    margin-top: 0px;
}
.tokenAddress {
    text-align: left;
    margin-top: -20px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.purchase {
    background-color: black;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0 0 1px 2px black;
    padding: 10px;
    align-items: center;
    height: fit-content;
    padding-bottom: 20px;
    margin-left: 50px;
}
.howto {
    color: white;
}
.tokensORnfts {
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;
    color: white;
}
.step {
    color: white;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.Buttons {
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 30px;
}
.Fees {
    color: white;
}
.closeAccounts {
    margin-bottom: 10px !important;
    margin-right: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90%;
}
.burn {
    margin-bottom: 10px !important;
    background-color: #FF2525 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important

}
.refreshIcon {
    max-width: 30px;
}
.refresh {
    margin-bottom: 20px !important;
}

@media screen and (max-width: 900px) {
    .CleanerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .purchase {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 755px) {
    .CleanerContainer {
        display: flex;
        flex-direction: column;
    }
    .eachToken {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tokenAddress {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
