:root {
    --gradient-shadow: linear-gradient(45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000);
}

.CoinFlipMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bigWinnerMain {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winnerContainer {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closeWinner {
    position: absolute;
    top: 5px;
    float: right;
}

.balances {
    position: absolute;
    top: 10px;
    right: 50px;
    display: flex;
    justify-content: flex-end;
}

.carotBalance {

    border-radius: 10px;
    border: 2px rgb(255, 255, 255) solid;
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.CoinFlipTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
}

.choices {
    display: flex;
    align-items: center;
}

.flipchosen {
    background-color: white !important;
    border: 1px black solid !important;
    margin: 5px !important;
}

.betsChosen {
    background-color: white !important;
    border: 1px black solid !important;
    margin: 5px !important;
}

.flip {
    border: 1px black solid !important;
    margin: 5px !important;
}

.bets {
    border: 1px black solid !important;
    margin: 5px !important;
}

.betArray {
    display: flex;

    align-items: center;
}

.theFlipper {
    height: 50px !important;
    width: 250px !important;
    border: 1px white solid !important;
    animation: rainbow 3s infinite;
}

.coinFlipping {
    width: 150px;
    height: 150px;
    animation: rotate 2s infinite;
}

.headOrTails {
    width: 150px;
    height: 150px;
}

.spacer {
    height: 150px;
    width: 150px;
}

.Loser {
    margin-top: 10px;
    min-height: 70px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 1em;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
}

@keyframes rainbow {

    from,
    to {
        box-shadow: 0 0 10px 3px red
    }
    16% {
        box-shadow: 0 0 10px 3px yellow
    }
    32% {
        box-shadow: 0 0 10px 3px green
    }
    48% {
        box-shadow: 0 0 10px 3px aqua
    }
    64% {
        box-shadow: 0 0 10px 3px blue
    }
    80% {
        box-shadow: 0 0 10px 3px fuchsia
    }
}


@keyframes rotate {
    0% {
        transform: rotatex(0);
    }
    50% {
        transform: rotatex(2340deg);
    }
    100% {
        transform: rotatex(90deg);
    }
}