@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.CustomMain {
    min-height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    margin-left: 50px;
    text-align: center;
    margin-left: 0;
    margin-top: -40px;
}

.RabbitSelect {
    background-color: rgba(255, 255, 255, 0.315);
    padding: 0 20px;
    border-radius: 20px;
    position: relative;
}

.MainContainer {
    display: flex;
    margin: auto;
    margin-top: 0;
    padding: 0 20px;
}

.rabbits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.BobbyRabbits {
    max-width: 150px;
    margin: auto;
}

.images {
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    justify-content: center !important;
    background-color: black !important;
}

.images:hover {
    opacity: 60%;
    cursor: pointer;
}

.Warning {
    position: absolute;
    top: -20px;
    right: 25px;
}



.clicked {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    pointer-events: none;
    z-index: 3;
}

.selectedText {
    text-align: center;
    color: white;

}

.completePurchase {
    margin-left: 20px;
    min-width: 400px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 20px !important;
    color: white !important;
    background-color: black !important;
}

.transactionBtn {
    background-color: white !important;
    margin-top: 50px !important;
}

.transactionCarot {
    max-width: 150px;
}

.carots {
    font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
    .MainContainer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 2em;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: -100px;
    }

    .completePurchase {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 50%;
    }

    .RabbitSelect {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .MainContainer {
        padding: 0;
    }

    .BobbyRabbits {
        max-width: 100px;
    }

    .transactionCarot {
        max-width: 100px;
    }
.selectedText{
    font-size: 1rem;
}
    .carots {
        font-size: 1.5em;
    }
}