.EddFoxMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../images/FoxBG.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    color: antiquewhite;
}

.EddMain2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: none;
    color: antiquewhite;
}

.EddFoxTitle {
    display: flex;
    font-family: 'Badrips', sans-serif;
    font-size: 4.5em;
    text-align: center;
    justify-content: center;
    color: rgb(255, 176, 48);
}

.family {
    width: 100%;
    height:100%;
}

.FoxFactory2 {
    width: 200px;
    height: 150px;
}

.EddGIF {
    max-width: auto;
    height: auto;
}

.nftc {
    max-width: 60%;
    height: auto;
}

.eddtitle {
    margin-top: 10px;
    width: 110%;
    height: 110%;
  }
  
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media screen and (max-width: 900px) {
  .EddFoxMain{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('../images/FoxBG.png');
      object-fit: scale-down;
    }

    .EddMain2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        background-image: none;
        color: antiquewhite;
    }
  
}