.EddFoxMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../images/FoxFactory.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: antiquewhite;
}

.EddMain2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    color: antiquewhite;
}

.EddFoxTitle {
    font-family: 'Titan One';
    font-size: 5em;
    text-align: center;
}

.family {
    width: 200px;
    height: 200px;
}

.EddGIF {
    width: 300px;
    height: 300px;
}

.nftc {
    width: 300px;
    height: 300px;
}