.EddMainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  background-image: url(../images/FoxBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.EddTitleContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.EddBody {
  margin-top: 25px;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.EddBody2 {
  color: black;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 25px;
}

.EddBody3 {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 25px;
  font-size: 3.9em;
  text-shadow:4px 4px #000000;
}

.EddBody4 {
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 25px;
}

.eddtitle {
  margin-top: 10px;
  margin-bottom: -20px;
  width: 100%;
  height: 100%;
}

.Stakefox {
  width: 60%;
  height: 60%;
}

.Mintfox {
  width: 60%;
  height: 60%;
}

.nftc {
  max-width: 60%;
  height: auto;
}

.family {
  width: 80%;
  max-width: 400px;
  height: 80%;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 500px) {
  .EddTitleContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .EddBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .EddBody2 {
    color: black;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 25px;
  }

  .EddBody4 {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 25px;
  }

  .EddBody3 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 25px;
    font-size: 3em;
  }

  .Stakefox {
    width: 40%;
    height: 40%;
  }

  .Mintfox {
    width: 40%;
    height: 40%;
  }

  .family {
    width: 100%;
    height: 100%;
  }

  .nftc {
    max-width: 60%;
    height: auto;
  }
}
