.EddFoxMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.EddFoxTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
}

.family {
    width: 200px;
    height: 200px;
}

.nftc {
    width: 300px;
    height: 300px;
}