.MainHomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/carotshop.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .EnterShop{
    height: 80px;
    width: 350px;
    background: -webkit-linear-gradient(to right, #be8304, #c79409,#ec6409);  
    background: linear-gradient(to right, #be8304, #c79409,#ec6409); 
    animation: gradient 4s ease infinite;
    background-size: 400% 400%; 
    border-radius: 5px;
    border: 2px white solid !important; 
    box-shadow: 0 0 10px 5px rgb(233, 135, 7);
    color: white !important;
  }
  
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @media screen and (max-width: 900px) {
    .MainHomeContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/carotshopcropped.png');
        object-fit: scale-down;
        height: 100vh;
      }
    
  }