.JTMainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: top;
    position: relative;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250vh;
    color: antiquewhite;
}

.JTMain2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.JTMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.JTTitle {
    display: flex;
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
    color: antiquewhite;
}

.jtos {
    width: 50%;
    height: 50%;
}

.jtos2 {
    width: 50%;
    height: 50%;
}

.jacklogo {
    width: 50%;
    height: 50%;
}

.twitter {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 500px) {
    .JTMain2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        align-items: baseline;
        justify-content: center;
        position: relative;
        background-image: none;
        object-fit: contain;
        height: 100vh;
        color: antiquewhite;
    }
  }