.k24MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.k24Main2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.k24Main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.k24Title {
    display: flex;
    font-family: 'Rockwell', cursive;
    font-size: 4em;
    text-align: center;
    color: rgb(255, 227, 48);
}

.Discord {
    width: 350px;
    height: 210px;
}

.k24logo {
    width: 225px;
    height: 225px;
}