.k24MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.k24Main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.k24Title {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
}

.Discord {
    width: 274px;
    height: 154px;
}

.k24logo {
    width: 300px;
    height: 300px;
}