.LaunchpadMain {
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../images/launchbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LaunchpadMain2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 35vh;
    color: antiquewhite;
}

.LaunchpadMain3 {
min-height: 100vh;
display: flex;
flex-direction: column;
width: 100%;
text-align: center;
align-items: center;
}

.LaunchpadTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
    color: antiquewhite;
}

.BaadGif {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 1rem;
    width: 200px;
    height: 200px;
}

.EddGif {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 1rem;
    width: 200px;
    height: 200px;
}

.launchimg {
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 700px) {
    .LaunchpadMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/launchcrop.png');
        object-fit: scale-down;
      }

      .Projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .BaadGif {
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }
    
    .EddGif {
        width: 200px;
        height: 200px;
    }
    
  }