.partnersMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.launchMain {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.applyMain {

  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.BulkTitle {
  display: flex;
  font-family: 'Badrips', sans-serif;
  font-size: 4.5em;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.partnerContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.partnerCard {

}

.partnerCard:hover {
  cursor: pointer;
}

.Launch {
  width: 90%;
  max-height: 70%;
}

.apply {
  width: 100%;
  height: 100%;
}

.partnerimg {
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 700px) {
  
  .Launch {
    width: 80%;
    height: 80%;
  }

  .partnerimg {
    width: 90%;
    height: 90%;
  }
}