.partnersMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}
.BulkTitle {
  display: flex;
  font-family: 'Badrips', sans-serif;
  font-size: 4.5em;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.partnerContainer {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.partnerCard:hover {
  cursor: pointer;
}
