.RadioMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Noto Serif', serif;
    font-size: 6vh;
    color: white;
    text-shadow: 5px 5px #000000;
    margin-top: 200px;
}

@media screen and (max-width: 700px) {
    .RadioMain {
        font-size: 2vh;
        text-shadow: 2px 2px #000000;
    }
}