.ShopMainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    color: antiquewhite;
}

.k24Main2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 100vh;
    color: antiquewhite;
}

.k24Main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.k24Title {
    display: flex;
    font-family: 'Rockwell', cursive;
    font-size: 4em;
    text-align: center;
    color: rgb(0, 0, 0);
}

.CarotCoin {
    width: 200px;
    height: 200px;
}

.Merch {
    width: 200px;
    height: 200px;
}