.SlotsMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    z-index: 1;
}
.SlotsTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
}
.fullSlot {
    z-index: 5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -30px;
    align-items: center;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 0 0 3px white;
    animation: rainbow 4s infinite;
  }
  @keyframes rainbow {
	from, to { box-shadow: 0 0 20px 10px red }
	16% { box-shadow: 0 0 20px 10px  yellow }
	32% { box-shadow: 0 0 20px 10px green }
	48% { box-shadow: 0 0 20px 10px aqua }
	64% { box-shadow: 0 0 20px 10px  blue }
	80% { box-shadow: 0 0 20px 10px  fuchsia }
 }
 
  .reelImages{
    max-width: 80px;
  }
  .casinoName {
    font-family: fino-sans,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.781);
    width: 100%;
    padding: 10px 0 0 0;
  }
  body {
    background: #000;
  }
  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
  .neon {
    font-family: 'Monoton', cursive;
    font-size: 80px;
    color: #ffd5ff;
    font-weight: 400;
    margin-top: -10px;

    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #ff9101a2, 2px 0px 4px #d19106, 3px 0px 4px #ffcd42, 2px 0px 3px #eeff05, 2px 3px 15px #faac04, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #f1b900, 40px 0vw 200px #f8ac07;
  }
  
  .flicker-slow {
    animation: flicker 3s linear infinite;
  }
  
  .flicker-fast {
    animation: flicker 1s linear infinite;
  }
  
  @keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: 0.99;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
    }
  }
  .price {
    font-family: hydrophilia-iced,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: rgb(10, 22, 39);
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    text-align: center;
    border: solid 2px #ffd900;
    width: 97%;
    height: 50px;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 5px;
  }
  
  .priceInd {
    margin: 0;
    animation: premio .5s forwards linear;
  }
  
  .renewButton {
    margin: 20px 0 0 0;
    padding: 20px;
    line-height: 0;
  }
  
  @keyframes premio {
    0% {transform: translateY(100px);}
    80% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
  }
  
  .slot {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .slotFoot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .betInput {
    font-family: hydrophilia-iced,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-size: 20px;
    border: none;
    border-radius: 2px;
    font-size: 1.2em;
    margin: 20px;
    height: 40px;
    width: 100%;
    margin: 0 5px 0 0;
    flex: 1 1 auto;
    text-align: center;
  }
  
  .spinButton {
    cursor: pointer;
    font-family: hydrophilia-iced,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.2em;
    margin: 0 0 0 5px;
    flex: 1 1 auto;
    width: 100%;
    height: 40px;
    background-color: #ffd900;
    border: none;
    border-radius: 2px;
  }
  
  .buyMoreButton {
    cursor: pointer;
    font-family: hydrophilia-iced,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1em;
    width: calc(100% - 20px);
    height: 30px;
    margin-bottom: 10px;
    background-color: #ffd900;
    border: none;
    border-radius: 2px;; 
  }
  
  .row {
    flex: 1 0 auto;
    margin: 0 5px 0 5px;
    overflow: hidden;
    border: solid 2px #ffd9009c;
    background: linear-gradient(0deg,  rgb(204, 203, 203)  0%, rgb(255, 255, 255)20%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 80%, rgb(204, 203, 203) 100%);
  }
  
  .ringMoving {
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 4em;
    animation: goaround 0.2s linear infinite;
  }
  
  .ringEnd {
    height: 125px;
    line-height: 125px;
    text-align: center;
    font-size: 4em;
    animation: stop .5s ease-out forwards;
  }
  .prizeModal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 10 !important;
    background-color: rgba(0, 0, 0, 0.74);
    justify-content: center;
    align-items: center;
  }
  .prizeDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
   background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    border-radius: 10px;
    border: 4px solid white;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .closeModal{
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .closeModal:hover{
    cursor: pointer;
  }
  .Winner{
    color: white;
    width: 80%;
    text-align: center;
    font-size: 1.7em;
  }
  
  @keyframes goaround {
  0% {transform: translateY(0);}
  100% {transform: translateY(-1000px);}
  }
  
  @keyframes stop {
    0% {transform: translateY(0)}
    50% {transform: translateY(-90px)}
    75% {transform: translateY(-80px)}
    100% {transform: translateY(-85px)}
    }