.walletCard {
	margin: 2rem;
	margin-top: 20px;
	border: 10px solid black;
	border-radius: 20px;
    min-width: 90%;
	background-color: #2c2c2c;
	font-size: .8rem;
    color: black;
    text-shadow: 1px 1px black;
}

.title {
    color: beige;
}

.player_container
{
    width: 80%;
    padding: 1rem;
    padding-top: 60px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 40px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 15px 15px #00000062;
    

    @media screen and (max-width: 700px) {
        .walletCard {
            margin: 2rem;
            margin-top: 20px;
            border: 10px solid black;
            border-radius: 20px;
            background-color: #1b1b1b;
            font-size: .4rem;
        }

        .title {
            padding-top: 80px;
        }
    }
    >*
    {
        padding: 1rem 0;
        color: rgb(202, 202, 202);
    }

    .title{
        font-size: inherit;
    }
    .navigation{
        width: 100%;


        .navigation_wrapper
        {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 5px;
            border-radius: 30px;
            cursor: pointer;
            
            .seek_bar{
                width: 0;
                height: 100%;
                background-color: rgb(24, 128, 3);
                border-radius: 30px;
            }

        }
    }
    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;

        .btn_action
        {
            font-size: 2rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover{
            color: white;
        }

        }
        
        .pp
        {
            font-size: 4rem;
            
        }
        
    }

}
