nav {
    
    width: 100%;
    height: 50px;
   padding-top: 20px;
    background: transparent;
    z-index: 10;
}
.navlogo{
    float: left;
    max-width: 150px;
    margin-left: 20px;
    align-self: center;
    margin-top: 10px;
}
.close{
    display: none !important;
}
a{
    text-decoration: none;
}
.wallet-adapter-button-trigger{
    background-color: black !important;
}
.wallet-adapter-button-trigger:not([disable]){
    background-color: transparent !important;
}
.wallet-adapter-button-trigger:not([disable]):hover{
    background-color: orange !important;
    border: 2px solid rgb(255, 255, 255) !important;
}
.wallet-adapter-modal-wrapper {
    background-color: rgb(206, 137, 9) !important;
} 
.list {
    list-style-type: none;
    background: transparent;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin-right: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.listItem{
    font-size: 1.2em;
    margin-right: 20px;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    padding-top: 5px;
    

}
.items {
    margin-right: 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}


@media screen and (max-width: 755px){
   .nav{
       z-index: 4;
      padding-top: -20px;
       color: white;

   }

    .list {
        flex-direction: column;
        padding: 20px 0 !important;
        width: 100%;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.788);
        color: white;
        position: absolute;
        top: -20px;
        z-index: 10;
    }
    
    .items {
        width: 100%;
        text-align: center;
        margin-right: auto;
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 1);
        color: white;
        margin-left: auto;
        
    }
    .btn {
        display: block;
        border-radius: 20px;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: none;
    }
    
    .navlogo{
       float: none;
       margin: auto;
       display: none;
       
    }
    .listItem{
        color: white;
        font-size: 1.5em;
    }
    .close{
        color: white !important;
        position: absolute;
        top: -10px;
        right: -80%;
        display: block !important;
        z-index: 11;
    }

}
