.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navLogo {
  max-width: 150px;
}

.MELogo {
  max-width: 75px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #ff9318;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.wallet-adapter-button-trigger {
  margin-right: 10px !important;
  font-size: 0.9rem !important;
  min-width: 150px;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  .wallet-adapter-button-trigger:not([disable]) {
    background-color: transparent !important;
    height: 40px;
    width: 180px;
    font-size: 0.6em !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
  }
}
@media screen and (max-width: 1054px) {
  .wallet-adapter-button-trigger:not([disable]) {
    background-color: transparent !important;
    height: 40px;
    font-size: 1em !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .wallet-adapter-button-trigger {
    padding-left: 10px !important;
  }
}
