@font-face {
  font-family: bubblegums;
  src: url('./fonts/AGENTORANGE.TTF');
}

.ShopMain {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*Items*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.grid{
  margin: auto  !important;
}
.toolsContainer{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 80%;
  
}

.item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  border-radius: 20px;
  margin: 20px;
  
  box-shadow: 0 0 10px 2px black;
}
.item:hover{
  cursor: pointer;
  opacity: 60%;
  animation: gelatine 0.4s;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.98, 1.02); }
  50% { transform: scale(1.02, 0.98); }
  75% { transform: scale(0.99, 1.01); }
}

.itemTitle {
  font-family: 'Fredoka One', cursive;
  margin: 15px auto;
  text-align: center;
  font-size: 1.5em;
}

.itemImage {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
 
}

/* .itemDescription {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.itemPrice {
  font-family: 'Fredoka One', cursive;
  margin: 10px auto;
  font-size: 1em;
}

.itemButton {
  margin-top: 20px;
} */

.MainTitle {
  font-family: bubblegums;
  font-size: 5em;
  color: rgb(42, 151, 42);
  -webkit-text-stroke: 2px black;
  text-align: center;
  text-shadow: 2px 2px 5px black;

}

.header {
  display: flex;
  margin-top: 50px;
}

.carotGif {
  max-width: 200px;
}

.CAROT {
  margin-top: 50px;
}

@media screen and (max-width:900px) {
  .carotGif {
    display: none;
  }

  .MainTitle {
    font-size: 3em;
    text-align: center
  }

  .item {
    max-width: 200px;
    margin: 5 auto;
  }

  .itemImage {
    
    margin-left: auto;
    margin-right: auto;
   
  }
}
@media screen and (max-width: 755px) {
  .item {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: auto -10px;
  }
}

@media screen and (max-width: 500px) {
  .MainTitle {
    font-size: 3em;
    text-align: center
  }

  .ShopMain {
    width: 100%;
  }

  .item {
    width: 300px !important;
    margin-bottom: 10px;
  }

  .itemTitle {
    font-family: 'Fredoka One', cursive;
    margin: 15px auto;
    text-align: center;
    font-size: 1em;
  }

  .itemImage {
   
    margin-left: auto;
    margin-right: auto;
  
  }

  .itemDescription {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: .6em;
  }

  .itemPrice {
    font-family: 'Fredoka One', cursive;
    margin: 10px auto;
  }

  .itemButton {
    margin-top: 20px;
    max-width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}