.App{
	min-height: 100vh;
	min-width: 100%;
	 background: #fff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5e8d59, #5e8d59,#5e8d59);  
	background: linear-gradient(to right, #5e8d59, #5e8d59,#5e8d59); 
	animation: gradient 10s ease infinite;
	background-size: 400% 400%;  
  }
  
  
  @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }
  


