.VSNRadio{
	min-height: 300vh;
	min-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Body {
  margin: 2rem;
	border: 10px solid black;
	border-radius: 20px;
}

.Box {
  border: 20px solid black;
	border-radius: 20px;
}

.Player {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.AudioPlayer {
  width: 100%;
  height: 102%;
  border-radius: 10px;
  margin-bottom: -4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

@media screen and (max-width: 700px) {
  .Player {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
  }
